<body onload="update_link();">
<script src="/static/js/csv.js"></script>
<script src="/static/js/donut.js"></script>
<script src="/static/js/bar.js"></script>
<script src="/static/js/pie.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="/static/css/index.css">

<h1>{{ object.layer.title }}</h1>

<div id="chart_area">
</div>

<a href="/table?" id="link">Download CSV</a>
<br>
<a href="{% url 'chart_update' object.id %}">Modify this Chart</a>
<br>
<a href="{% url 'chart_delete' object.id %}">Delete this Chart</a>


<script>
var typename = "{{ object.layer.typename }}";
var category = "{{ object.category }}";
var quantity = "{{ object.quantity }}";
var agg = "{{ object.aggr_type }}";
var chart_type = "{{ object.type }}";
var csv_url;

function update_link(){
    csv_url = '/table?lyrname=' + typename;
    csv_url = csv_url + '&category=' + category;
    csv_url = csv_url + '&quantity=' + quantity;
    document.getElementById('link').href = csv_url;
    return;
}
update_link();

</script>

{% include "charts-app/chart_main_script.html" %}

<script>
get_chart();
</script>

</body>